@font-face {
  font-family: ff;
  src: url("../Final_Fantasy_VII/Final_Fantasy_VII.ttf");
}

body {
    background-color: black;
    font-family: ff;
    color: white;
}

header {
    text-align: center;
    font-size: 125px;
}
footer {
    background-image: linear-gradient(#112B9D, #01062B);
    grid-area: foot;
    border: double #F1EFEE 3px;
    display: grid;
    height: 80px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 80px;
    grid-template-areas: "feed play sleep kill";
}
p {
    margin: 0 auto;
    display: inline;
}

.game {
    display: grid;
    background-image: url("../img/Tback.gif");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 94% 250px;
    position: absolute;
    top: 30%;
    bottom : 50%;
    margin: 0 auto;
    height: 330px;
    width: 98%;
    background-color: black;
    grid-template-columns: 80px 1fr;
	grid-template-rows: 1fr 80px;
    grid-template-areas: "stat tom"
                         ". foot"


}
.form {
    text-align: center;
}

.tom {
    grid-area: tom;
    align-self: end;
    display: none;
    width: 1300px;
    position: relative;
}
.stats {
    grid-area: stat;
    font-size: 25px;
    display: grid;
}
.stats i {
    border: 1px solid white;
    text-align: center;
    align-self: center;
}

.action {
    width: auto;
    text-align: center;
    font-size: 60px;
    
}

.feed{
    grid-area: feed;
}
.play{
    grid-area: play;
}
.sleep{
    grid-area: sleep;
}
.kill{
    grid-area: kill;
}

#Tom{
    position: relative;
    animation-duration: 10s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes slidein {
  from {
    margin-left: 0%; 
  }

  to {
    margin-left: 90%;
  }
}