@font-face {
  font-family: ff;
  src: url("../Final_Fantasy_VII/Final_Fantasy_VII.ttf");
}

body {
    background-color: black;
    font-family: ff;
    color: white;
}

header {
    text-align: center;
    font-size: 125px;
}

.game {
    display: grid;
    background-image: url("../img/Tback.gif");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 94% 250px;
    position: absolute;
    top: 30%;
    bottom : 50%;
    margin: 0 auto;
    height: 300px;
    width: 98%;
    background-color: black;
    grid-template-columns: 80px 1fr;
	grid-template-rows: 1fr 50px;
    grid-template-areas: "stat tom"
                         ". ."


}

.tom {
    grid-area: tom;
    align-self: end;
}
.stats {
    grid-area: stat;
    font-size: 25px;
    display: grid;
}
.stats i {
    border: 1px solid white;
    text-align: center;
    line-height: 
}